  .area-filter-year,
.area-film-list > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.area-filter-year {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.btn-filter-year {
  padding: 0.5em 0.75em;
  margin: 0.5em 0.5em;

  border: 1px solid var(--text-color-links);
  border-radius: 3px;

  color: var(--accent-color-two);
  background-color: var(--text-color-links);
  cursor: pointer;

  transition: color 0.2s ease, background-color 0.2s ease;
}

.btn-filter-year:hover,
.btn-filter-year:active {
  background-color: var(--accent-color-two);
  color: var(--text-color-links);
}

.film-year { text-align: center; }
.film {
  flex-basis: 11em;
  margin: 0.2em 0.5em;
  text-align: center;
}
.film a { font-weight: 700 }
