:root {
  --primary-bg-color: #292b33;
  /* --accent-color-one: #272727; */
  --accent-color-one: #333131;
  --accent-color-two: #323541;
  /* --text-color-body: #caaaca; */
  --text-color-body: #d6bed6;
  /* --text-color-header: #d1bad1; */
  --text-color-header: #eee1e1;
  --text-color-links: #f6f0f0;
  --text-color-links-border: #fff;

  --font-stack-body: "Raleway", sans-serif;
  --font-stack-header: "Zilla Slab", var(--font-stack-body);
}

*, *::before, *::after { box-sizing: border-box; }
html { min-width: 320px; }

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: var(--primary-bg-color);
  font-family: var(--font-stack-body);
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-color-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-stack-header);
  color: var(--text-color-header);
}
h1, h2, h3 { font-weight: 500; }
h4, h5, h6 { font-weight: 300; }

header, footer {
  flex: none;
  background-color: var(--accent-color-one);
}

header {
  display: flex;
  align-items: flex-end;
  font-size: 0.87em;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding: 1em 0.5em;
  text-align: center;
  font-size: 0.87em;
}
footer div { margin-bottom: 0.5em; }

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--text-color-links);
  border-bottom: 2px solid currentColor;
  transition: border-bottom 0.2s ease;
}
a:hover, a:active { border-color: transparent; }

blockquote {
  padding-left: 0.6em;
  border-left: 3px solid var(--text-color-header);
}

main { flex: 1 0 auto; }

section {
  padding: 0.75em 4%;
}
section:nth-child(odd) {
  background-color: var(--accent-color-two);
}

section h3 {
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0 ,0.3);
}

@media (max-width: 768px) {
  header { align-items: center; }
  blockquote { margin-left: 0.5em; }
}
