:root {
  --primary-bg-color: #292b33;
  /* --accent-color-one: #272727; */
  --accent-color-one: #333131;
  --accent-color-two: #323541;
  /* --text-color-body: #caaaca; */
  --text-color-body: #d6bed6;
  /* --text-color-header: #d1bad1; */
  --text-color-header: #eee1e1;
  --text-color-links: #f6f0f0;
  --text-color-links-border: #fff;
}

*, *::before, *::after { box-sizing: border-box; }
html { min-width: 320px; }

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: var(--primary-bg-color);
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-color-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Zilla Slab", "Raleway", sans-serif;
  color: var(--text-color-header);
}
h1, h2, h3 { font-weight: 500; }
h4, h5, h6 { font-weight: 300; }

header, footer {
  flex: none;
  background-color: var(--accent-color-one);
}

header {
  display: flex;
  align-items: flex-end;
  font-size: 0.87em;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 0.87em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--text-color-links);
  border-bottom: 2px solid currentColor;
  transition: border-bottom 0.2s ease;
}
a:hover, a:active { border-color: transparent; }

blockquote {
  padding-left: 0.6em;
  border-left: 3px solid var(--text-color-header);
}

main { flex: 1 0 auto; }

section {
  padding: 0.75em 4%;
}
section:nth-child(odd) {
  background-color: var(--accent-color-two);
}

section h3 {
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0, 0,0 ,0.3);
}

.film-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.film-info .image {
  padding-right: 2em;
  align-self: center;
}

.film-info .image img {
  /* align-self: center; */
}

.film-info .info { font-size: 0.95em; }

.film-info h2 {
  margin-bottom: 0;
  text-shadow: 2px 2px 5px rgba(0, 0,0 ,0.4);
}

.film-info .film-thumbnail {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

/* Automatically add commas after list-type info  */
.film-genres .genre:not(:last-of-type)::after,
.film-warnings .warning:not(:last-of-type)::after {
  content: ", ";
}

 /* TODO: Add proper colors */
.warning.moderate {
  font-weight: 700;
  color: #ffa500;
}
.warning.strong {
  font-weight: 700;
  color: #c87914;
  text-shadow: 2px 2px 5px rgba(0, 0,0 ,0.5);
}

.film-links {
  /* padding: 1 em 1em; */

  /* background-color: var(--accent-color-one); */
}

.film-links h3 { text-align: center; }

.film-links > div {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center; */
}

.link {
  display: block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 0.92em;
  text-align: center;
}

.film-critiques {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.film-critiques h3 { text-align: center; }

/* Cast & Crew/Staff Ratings */
.film-cast-crew div { width: 14em; }
.film-staff-ratings div { width: 13em; }
.film-cast-crew span,
.film-staff-ratings span { float: right; }

/* Film reviews */
.film-reviews blockquote {
  quotes: "“" "”";
  line-height: 1.45;
}

.film-reviews blockquote::before {
  content: open-quote;
  font-size: 2em;
  opacity: 0.35;
  font-weight: 700;
}

.film-reviews p {
  margin: 0;
  margin-top: -0.0em;
  margin-left: 1em;
  font-size: 0.93em;
}

@media (max-width: 768px) {
  header { align-items: center; }
  blockquote { margin-left: 0.5em; }

  .film-links > div {
    /* width: 100%; */
    /* justify-content: center; */
  }

  .film-links > div { width: 12.5em; }
  .film-links h3 { text-align: center; }

  .film-critiques {
    flex-direction: column;
    align-items: center;
  }
  .film-critiques > div {
    margin-bottom: 1em;
  }
}
