<div class="film-link-wrapper link-|link-id|">
  <label for="film-label-|link-id|">Website</label>
  <select name="film-label-|link-id|" id="film-label-|link-id|">
    <option value="youtube" selected>YouTube</option>
    <option value="vimeo">Vimeo</option>
    <option value="google">Google Drive</option>
    <option value="other">Other</option>
  </select>

  <label for="film-url-|link-id|">URL</label>
  <input type="url" name="film-url-|link-id|" id="film-url-|link-id|" placeholder="https://www.youtube.com/watch?v=Ajrtmp9Fc|link-id|k">
  <br>
  <button type="button" onclick="removeFilmLink(|link-id|);">Remove link</button>
</div>
