<IfModule mod_rewrite.c>
  # Error handling
  ErrorDocument 403 /404.php
  ErrorDocument 404 /404.php
  ErrorDocument 500 /404.php

  # Disable directory browsing
  Options -Indexes

  # Prevent access to sensitive folders
  RewriteEngine On
  RedirectMatch 404 /.login/?$
  RedirectMatch 404 /src/?

  # Define clean urls for browsing
  RewriteRule ^film/(\d+) film.php?film_id=$1
  RewriteRule ^director/(\d+) director.php?director_id=$1

  # Duplicate original directory URL for web compat
  RewriteRule ^films/view/(\d+) film.php?film_id=$1
</IfModule>

# TODO: Add caching, compressing, expires
